.form-row-space {
    margin-top: 30px;
}

table th 
{
    min-width: 220px;
    text-align: center;
}

.logo 
{
    max-width: 35px;
    margin-right: 10px;
}

.ultimo
{
    margin-bottom: 30px;
}