<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block titulo %}Avance Alumno{% endblock %}</title>
  <!-- Bootstrap core CSS-->
  <link href="{{ base_url() }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{{ base_url() }}/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{{ base_url() }}/css/sb-admin.css" rel="stylesheet">
  <link href="{{ base_url() }}/css/styles_avance.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/js/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/js/slick/slick-theme.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <script src="{{ base_url() }}/js/chart.js"></script>
  <style>

    </style>

</head>
<body>
    <div class="container-fluid">
        <!-- contenido -->

        <div class="row">
            <div class="col-md-8">
                <img style="margin-top:35px;" class="img-fluid pull-right" src="{{base_url()}}/img/progracademy.png" alt="">
            </div>
            <div class="col-md-4">
                <img style="max-height:150px !important;" class="img-fluid pull-right" src="{{base_url()}}/img/ccfa.png" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 color-red" style="min-height:120px;padding-top: 10px;">
                <div class="row">
                    <div class="col-md-12 color-orange" style="max-height:100px;">
                        <div class="row">
                            <div class="col-md-8">
                                <p class="text-title">Informe de avance</p>
                            </div>
                            <div class="col-md-4">
                                <img style="height:220px; margin-top:-95px;" class="img-fluid pull-left" src="{{base_url()}}/img/ruby.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row contenedor-info-semanas color-grey" >
            <div class="col-md-12 " style="min-height:200px;">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <p class="text-info-alumno pull-right"> <span style="color:#a61c00;">Alumno: </span> {{ alumno.NOMBRE }}</p>
                    </div>
                    <div class="form-group col-md-4" style="margin-left:auto; margin-right:auto;">
                        <p class="text-info-alumno text-center" > <span style="color:#a61c00;">Sección: </span> {{ seccion.NOMBRE }} </p>
                    </div>
                    <div class="form-group col-md-4">
                        <p class="text-info-alumno pull-left"> <span style="color:#a61c00;">ID: </span> {{ alumno.DNI }} </p>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4 ">
                        <div class="contendor-resumen pull-right"><p class="text-resumen">Resumen del Avance</p></div>
                    </div>
                    <div class="form-group col-md-8 div-squad" style="margin-left:auto; margin-right:auto;">
                        <div class="contenedor-leyenda">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <p class="text-info-leyenda pull-left" style="font-size:1.5em; font-weight:900 !important; margin-top:-5px;"> <span style="color:#a61c00;">Leyenda: </span></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p class="form-ckeck-label text-info-leyenda pull-right">Objetivo planteado </p>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-check-label leyenda-orange pull-left"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p class="form-ckeck-label text-info-leyenda pull-right">Logro alcanzado </p>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-check-label leyenda-red pull-left"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row" style="margin-top:10px;">
                    <div class="form-group col-md-4">
                        <form action="{{ path_for('anterior_avance') }}" method="POST" id="form-anterior">
                            <button type="submit" id="btn_prev" class="btn-red pull-right"><i class="fa fa-fw fa-arrow-left pull-left" style="margin-top:5px;"></i>Sesión anterior</button>
                            <input type="text" id="input_anterior" name="input_anterior" value="{{index_curso}}-{{index_seccion}}-{{index_alumno}}-{{ rango_inicio }}-{{ rango_fin }}" hidden>
                        </form>
                    </div>
                    <div class="form-group col-md-4 text-center" >
                        
                    </div>
                    <div class="form-group col-md-4">
                        <form action="{{ path_for('siguiente_avance') }}" method="POST" id="form-siguiente">
                            <button type="submit" id="btn_prox" class="btn-red btn-xs">Sesión siguiente<i class="fa fa-fw fa-arrow-right pull-right" style="margin-top:5px;"></i></button>
                            <input type="text" id="input_siguiente" name="input_siguiente" value="{{index_curso}}-{{index_seccion}}-{{index_alumno}}-{{ rango_inicio }}-{{ rango_fin }}" hidden>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Graficas -->
        <div class="row" style="margin-top:60px;">
            <div class="col-md-6">
                <p class="text-title-comentario text-center">Avance en Code</p>
                <canvas style="max-width:450px; max-height:450px; margin: 0 auto; float:none;" id="prueba" width="200" height="200"></canvas>
                <script>
                    // rgba(166, 28, 0, 0.9)',
                    // 'rgba(255, 87, 34, 0.9)',
                    //--------------------------------------------------------

                    // var inicio = {{ info_boleta.tam|json_encode() }};
                    var inicio = parseInt("{{rango_fin}}");
                    // var inicio = 3;
                    var labels = [];

                    var color_oblig_acum = [];
                    var border_color_acum = [];
                    var color_general_acum = [];
                    var border_color_general_acum = [];

                    for(i=1; i <= inicio; i++)
                    {
                        labels.push(i);
                        color_oblig_acum.push('rgba(166, 28, 0, 0.9)');
                        border_color_acum.push('rgba(166, 28, 0, 0.9)');
                        color_general_acum.push('rgba(255, 87, 34, 0.9)');
                        border_color_general_acum.push('rgba(255, 87, 34, 0.9)');
                    }
                    var info_obligatorio_acum = '{{info_boleta.OBLIGATORIO_ACUM }}';
                    var data_obligatorio_acum = info_obligatorio_acum.split(';');

                    var info_general_acumulado = '{{info_boleta.GENERAL_ACUMULADO }}';
                    var data_general_acumulado = info_general_acumulado.split(';');

                    var info_cum_target = '{{info_boleta.ACUM_TARGET }}';
                    var data_acum_target = info_cum_target.split(';');

                    //--------------------------------------------------------
                    var ctx = document.getElementById("prueba").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [
                            {
                                type: 'line',
                                label: 'Objetivo planteado',
                                data: data_general_acumulado,
                                borderColor: 'rgba(255, 87, 34, 255)',
                                backgroundColor: 'rgba(255, 87, 34, 255)',
                                borderWidth: 4,
                                fill: 'rgba(255, 87, 34, 255)',
                            },
                            {
                                label: 'Logro alcanzado',
                                data: data_obligatorio_acum,
                                backgroundColor: color_oblig_acum,
                                borderColor: border_color_acum,
                                borderWidth: 1
                            }
                            ]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                // display:false,
                                labels:
                                {
                                    defaultFontSize: 15
                                }
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true,
                                        fontSize: 16
                                    },
                                }],
                                xAxes:
                                [
                                    {
                                    ticks:
                                        {
                                            beginAtZero:true,
                                            fontSize: 16
                                        },
                                    }
                                ]
                            }
                        }
                    });
                    //-------------------------------------------------
                    // var myChart = new Chart(ctx, {
                    //     type: 'bar',
                    //     data: {
                    //         labels: labels,
                    //         datasets: [
                    //         {
                    //             label: false,
                    //             data: data_obligatorio_acum,
                    //             backgroundColor: color_oblig_acum,
                    //             borderColor: border_color_acum,
                    //             borderWidth: 1
                    //         },
                    //         {
                    //             label: false,
                    //             data: data_general_acumulado,
                    //             backgroundColor: color_general_acum,
                    //             borderColor: border_color_general_acum,
                    //             borderWidth: 1
                    //         }
                    //         ]
                    //     },
                    //     options: {
                    //         responsive: true,
                    //         legend: {
                    //             display:false
                    //         },
                    //         scales: {
                    //             yAxes: [{
                    //                 ticks: {
                    //                     beginAtZero:true
                    //                 }
                    //             }]
                    //         }
                    //     }
                    // });


                </script>
            </div>
            <div class="col-md-6">
                <p class="text-title-comentario text-center">Avance en Videos</p>
                <canvas style="max-width:450px; max-height:450px; margin: 0 auto; float:none;" id="prueba1" width="200" height="200"></canvas>
                <script>
                    //------------------------------------------------------------

                    // var inicio = {{ info_video.tam|json_encode() }};
                    var inicio = parseInt("{{rango_fin}}");
                    // var inicio = 3;
                    var labels_video = [];

                    var color_oblig_acum = [];
                    var border_color_acum = [];
                    var color_general_acum = [];
                    var border_color_general_acum = [];

                    for(i=1; i <= inicio; i++)
                    {
                        labels_video.push(i);
                        color_oblig_acum.push('rgba(166, 28, 0, 0.9)');
                        border_color_acum.push('rgba(166, 28, 0, 0.9)');
                        color_general_acum.push('rgba(255, 87, 34, 0.9)');
                        border_color_general_acum.push('rgba(255, 87, 34, 0.9)');
                    }
                    var video_info_obligatorio_acum = '{{info_video.OBLIGATORIO_ACUM }}';

                    var video_data_obligatorio_acum = video_info_obligatorio_acum.split(';');

                    var video_info_general_acumulado = '{{info_video.GENERAL_ACUMULADO }}';
                    var video_data_general_acumulado = video_info_general_acumulado.split(';');

                    var info_cum_target = '{{info_video.ACUM_TARGET }}';
                    var data_acum_target = info_cum_target.split(';');

                    // var grafica_video_acumulado = {
                    //     labels: labels_video,
                    //     datasets: [
                    //         {
                    //             type: 'bar',
                    //             label: 'Obligatorio Acum',
                    //             backgroundColor: color_oblig_acum,
                    //             data: video_data_obligatorio_acum,
                    //             borderColor: border_color_acum,
                    //             borderWidth: 2
                    //         },
                    //         {
                    //             type: 'bar',
                    //             label: 'General Acum',
                    //             backgroundColor: color_general_acum,
                    //             data: video_data_general_acumulado,
                    //             borderColor: border_color_general_acum,
                    //             borderWidth: 2
                    //         },
                    //         {
                    //             type: 'line',
                    //             label: 'Acum Target',
                    //             borderColor: 'rgba(127, 140, 141,1.0)',
                    //             borderWidth: 2,
                    //             fill: false,
                    //             data: data_acum_target
                    //         }
                    //     ]
                    // };

                    //------------------------------------------------------------
                    var ctx_1 = document.getElementById("prueba1").getContext('2d');
                    var myChart = new Chart(ctx_1, {
                        type: 'bar',
                        data: {
                            labels: labels_video,
                            datasets: [
                            {
                                type: 'line',
                                label: 'Objetivo planteado',
                                data: video_data_general_acumulado,
                                borderColor: 'rgba(255, 87, 34, 255)',
                                backgroundColor: 'rgba(255, 87, 34, 255)',
                                borderWidth: 4,
                                fill: 'rgba(255, 87, 34, 255)'
                            },
                            {
                                type: 'bar',
                                label: 'Logro alcanzado',
                                data: video_data_obligatorio_acum,
                                backgroundColor: color_oblig_acum,
                                borderColor: color_oblig_acum,
                                borderWidth: 1
                            }
                            ]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                // display:false
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true,
                                        fontSize: 16
                                    },
                                }],
                                xAxes:
                                [
                                    {
                                    ticks:
                                        {
                                            beginAtZero:true,
                                            fontSize: 16
                                        },
                                    }
                                ]
                            }
                        }
                    });

                </script>
            </div>
        </div>

        <div class="row" style="margin-top:30px;">
            <div class="col-md-6">
                <p class="text-title-comentario text-center">Preguntas de Videos</p>
                <canvas style="max-width:450px; max-height:450px; margin: 0 auto; float:none;" id="prueba2" width="200" height="200"></canvas>
                <script>
                    //------------------------------------------------------------
                    // var inicio = {{ info_pregunta.tam|json_encode() }};
                    var inicio = parseInt("{{ rango_fin }}");

                    // var inicio = 3;
                    var labels_pregunta = [];

                    var color_oblig_acum = [];
                    var border_color_acum = [];
                    var color_general_acum = [];
                    var border_color_general_acum = [];

                    for(i=1; i <= inicio; i++)
                    {
                        labels_pregunta.push(i);
                        color_oblig_acum.push('rgba(166, 28, 0, 0.9)');
                        border_color_acum.push('rgba(166, 28, 0, 0.9)');
                        color_general_acum.push('rgba(255, 87, 34, 0.9)');
                        border_color_general_acum.push('rgba(255, 87, 34, 0.9)');
                    }
                    var info_obligatorio_acum = '{{info_pregunta.OBLIGATORIO_ACUM }}';
                    var data_obligatorio_acum = info_obligatorio_acum.split(';');

                    var info_general_acumulado = '{{info_pregunta.GENERAL_ACUMULADO }}';
                    var data_general_acumulado = info_general_acumulado.split(';');

                    var info_cum_target = '{{info_pregunta.ACUM_TARGET }}';
                    var data_acum_target = info_cum_target.split(';');

                    //------------------------------------------------------------
                    var ctx_2 = document.getElementById("prueba2").getContext('2d');
                    var myChart = new Chart(ctx_2, {
                        type: 'bar',
                        data: {
                            labels: labels_pregunta,
                            datasets: [
                            {
                                type: 'line',
                                label: 'Objetivo planteado',
                                data: data_general_acumulado,
                                borderColor: 'rgba(255, 87, 34, 255)',
                                backgroundColor: 'rgba(255, 87, 34, 255)',
                                borderWidth: 4,
                                fill: 'rgba(255, 87, 34, 255)'
                            },
                            {
                                type: 'bar',
                                label: 'Logro alcanzado',
                                data: data_obligatorio_acum,
                                backgroundColor: color_oblig_acum,
                                borderColor: color_oblig_acum,
                                borderWidth: 1
                            }
                            ]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                // display:false
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true,
                                        fontSize: 16
                                    },
                                }],
                                xAxes:
                                [
                                    {
                                    ticks:
                                        {
                                            beginAtZero:true,
                                            fontSize: 16
                                        },
                                    }
                                ]
                            }
                        }
                    });

                </script>
            </div>
            <div class="col-md-6">
                <p class="text-title-comentario text-center">Rúbricas</p>
                <!--  -->

                <form action="{{ path_for('seleccion_de_proyecto') }}" method="post" id="form-proyectos">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Seleccione el proyecto</label>
                        <select class="form-control" id="proyectos" class="proyectos" name="proyectos">
                            <option value="-1" id="-1">Seleccione una opción</option>
                            {% for clave, valor  in proyectos %}
                            {% if clave == index_proyecto %}
                                <option value="{{clave}}" name="{{clave}}" id="{{clave}}" class="opcion-proyectos" selected>{{ valor }}</option>
                            {% else %}
                                <option value="{{clave}}" name="{{clave}}" id="{{clave}}" class="opcion-proyectos">{{ valor }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <input type="text" name="id_proyectos" id="id_proyectos" value="" hidden>
                </form>
                <!--  -->

                <canvas style="max-width:450px; max-height:450px; margin: 0 auto; float:none;" id="prueba3" width="200" height="200"></canvas>
                <script>
                    // var inicio = {{ info_rubrica.tam|json_encode() }};
                    var inicio = parseInt("1");

                    // var inicio = 3;
                    var labels_rubrica = [];

                    var color_total_rubrica = [];
                    var border_color_total_rubrica = [];

                    for(i=1; i <= inicio; i++)
                    {
                        labels_rubrica.push(i);
                        color_oblig_acum.push('rgba(166, 28, 0, 0.9)');
                        border_color_acum.push('rgba(166, 28, 0, 0.9)');
                        color_general_acum.push('rgba(255, 87, 34, 0.9)');
                        border_color_general_acum.push('rgba(255, 87, 34, 0.9)');
                    }
                    var info_total_rubrica = '{{info_rubrica.TOTAL_RUBRICA }}';
                    var data_total_rubrica = info_total_rubrica.split(';');

                    var info_sesion_target = '{{info_rubrica.SESION_TARGET }}';
                    var data_sesion_target = info_sesion_target.split(';');

                    var info_total_rubrica = '{{info_rubrica.LABEL }}';
                    var data_label_rubrica = info_total_rubrica.split(';');

                    // var grafica_rubrica_acumulado = {
                    //     labels: data_label_rubrica,
                    //     datasets: [
                    //     {
                    //         type: 'bar',
                    //         label: 'Total rubricas Cumplidas',
                    //         backgroundColor: color_total_rubrica,
                    //         data: data_total_rubrica,
                    //         borderColor: border_color_total_rubrica,
                    //         borderWidth: 2
                    //     },
                    //     {
                    //         type: 'line',
                    //         label: 'Sesión Target',
                    //         borderColor: 'rgba(231, 76, 60,1.0)',
                    //         borderWidth: 2,
                    //         fill: false,
                    //         data: data_sesion_target
                    //     }
                    // ]
                    // };
                    //--------------------------------------------------------------
                    var ctx_3 = document.getElementById("prueba3").getContext('2d');
                    var myChart = new Chart(ctx_3, {
                        type: 'bar',
                        data: {
                            labels: labels_rubrica,
                            datasets: [
                            {
                                type: 'line',
                                label: 'Objetivo planteado',
                                data: data_sesion_target,
                                borderColor: 'rgba(255, 87, 34, 255)',
                                backgroundColor: 'rgba(255, 87, 34, 255)',
                                borderWidth: 4,
                                fill: 'rgba(255, 87, 34, 255)'
                            },
                            {
                                label: 'Logro alcanzado',
                                data: data_total_rubrica,
                                backgroundColor: color_oblig_acum,
                                borderColor: color_oblig_acum,
                                borderWidth: 1
                            }
                            ]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                // display:false
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true,
                                        fontSize: 16
                                    },
                                }],
                                xAxes:
                                [
                                    {
                                    ticks:
                                        {
                                            beginAtZero:true,
                                            fontSize: 16
                                        },
                                    }
                                ]
                            }
                        }
                    });

                </script>
            </div>
        </div>
        <!-- !Graficas -->
        <div class="row" style="margin-top:30px; padding-left:30px; padding-right:30px;">
            <div class="col-md-6">
                <p class="text-title-comentario text-center">¿Cómo apoyar a tu representado?</p>
                <div class="marco-orange">
                    <p>{{ apoyo }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <p class="text-title-comentario text-center">Comentarios individuales</p>
                <div class="marco-red">
                    <p>{{ comentario }}</p>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:60px;">
            <div class="col-md-12 color-red" style="padding:20px;">
                <h1 class="text-center pagina-title">Proyectos en curso</h1>
            </div>
            <div class="col-md-12 color-grey">
                <section class="regular slider">
                    {% for value in info_proy  %}
                        <div>
                            <a target="_blank" href="{{ value.DIR }}"><img src="{{ value.IMG }}"></a>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </div>

        <div class="row" style="margin-top:60px;">
            <div class="col-md-12 color-orange" style="padding:20px;">
                <h1 class="text-center pagina-title">Noticias Progracademy</h1>
            </div>
            <div class="col-md-12 color-red">
                <section class="regular slider">
                    {% for value in noticias  %}
                        <div>
                            <a target="_blank" href="{{ value.DIR }}"><img src="{{ value.IMG }}"></a>
                        </div>
                    {% endfor %}
                    <!-- <div>
                        <a target="_blank" href="http://www.noticierodigital.com/"><img src="http://placehold.it/350x300?text=1"></a>
                    </div> -->
                </section>
            </div>
        </div>

        <div class="row contenedor-contacto" style="margin-top:60px;">
            <div class="col-md-12 text-center" >
                <p class="text-title-comentario text-center">Contacto</p>
                <div style="max-width:640px; float:none; margin:0 auto;">
                <p class="text-contacto ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, enim nam? Aliquam nemo magni voluptatem asperiores enim nesciunt eaque aliquid facere dolore sit, nostrum obcaecati tenetur laboriosam ab repellat? Illo.</p>

                </div>
            </div>

        </div>
        <!-- !contenido -->
    </div>
<!-- Bootstrap core JavaScript-->
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="{{ base_url() }}/js/slick/slick.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).on('ready', function() {
        $(".regular").slick({
            dots: false,
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1
        });

        $('#proyectos').change(function()
        {
            if($(this).val() != -1)
            {
                $('#id_proyectos').val('pro-'+$(this).val()+'-{{index_curso}}-{{index_seccion}}-{{index_alumno}}');
                $('#form-proyectos').submit();
            }
        });

        // $('#btn_prev').click(function() 
        // {
        //     // alert("casa");
        //     $('#input_anterior').val('{{index_curso}}-{{index_seccion}}-{{index_alumno}}-{{ rango_inicio }}-{{ rango_fin }}');
        //     $('#form-anterior').submit();
        // });

        // $('#btn_prox').click(function() 
        // {
        //     $('#input_siguiente').val('{{index_curso}}-{{index_seccion}}-{{index_alumno}}-{{ rango_inicio }}-{{ rango_fin }}');
        //     $('#form-siguiente').submit();
        // });
    });
</script>
<script src="{{ base_url() }}/vendor/popper/popper.min.js"></script>
<script src="{{ base_url() }}/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="{{ base_url() }}/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="{{ base_url() }}/js/sb-admin.min.js"></script>
</body>
</html>