{% extends 'base.html' %}

{% block titulo %} PRG-Home {% endblock %}

{%block contenido%} 

<div class="container"
    <div class="row">
        <div class="col-sm-12 text-center" style="margin-top:50px;">
            <img style="max-width:400px;" class="img-fluid img-thumbnail" src="{{base_url()}}/img/1.jpg" alt="">
        </div>
        <div class="col-sm-12 text-center" style="margin-top:30px;">
            <p style="font-size:2.5em;">Gestor de indicadores de avance en curso online de introducción a la programación</p>
        </div>
    </div>
</div>

{% endblock %}