{% extends 'base.html' %}

{% block titulo %} PRG-Home {% endblock %}

{%block contenido%} 

<div class="container"
    <div class="row">
        <div id = "imagen1" class="text-center" style="margin-top:50px;">
            <img style="max-width:350px;" class="container" src="{{base_url()}}/img/1.jpg" alt="">
        </div>
        <div id = "text1" class="text-center" style="margin-top:30px;">
            <p style="font-size:1.8em;">Gestor de indicadores de avance en curso online de introducción a la programación</p>
        </div>
    </div>
</div>

{% endblock %}